{% extends "base.html" %}

{% block content %}
<h1>
    {{ form.is_bound|yesno:"Редактирование,Добавление" }} фотографии
</h2>
<form method="POST" action="{% if form.is_bound %}{% url 'edit-photo' photo.id %}{% else %}{% url 'add-photo' %}{% endif %}" >
    {{ form.as_p }}
    <input type="submit" value="{{ form.is_bound|yesno:"Редактирование,Добавление" }}">
</form>
{% endblock %}