{% extends "base.html" %}
{% block content %}
<table align="center">
      {# Цикл по строкам. #}
      {% for row in rows %}
      <tr>
        {% for cell in row %}
        <td>
          <img width="200px" src="{{ cell.url }}">
          <br/>
          {{ cell.comment }}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
</table>
{% endblock %}
